<div id="consoleDrawer" class="bmd-layout-drawer kitchen-sink-drawer active">
  <div class="consoleArea"> 
    <div id="consoleContent">
    	<div id="consoleInfo" class="alert alert-info">
    	</div>
    	<div id="consoleErrors" class="alert alert-danger">
    	</div>
    	<div id="consoleWarnings" class="alert alert-warning">
    	</div>
    </div>
  </div>
</div>