<div id="consoleDrawer" class="bmd-layout-drawer kitchen-sink-drawer active">
  <div id="consoleTab">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="#" class="consoleTab selected" style="border-top-left-radius:10px" onclick="switchTab(event, 'lex')">Lex</a>
            </li>
            <li>
                <a href="#" class="consoleTab" onclick="switchTab(event, 'parse')">Parse</a>
            </li>
            <li>
                <a href="#" class="consoleTab" onclick="switchTab(event, 'ast')">AST</a>
            </li>
            <li>
                <a href="#" class="consoleTab" style="border-top-right-radius:10px" onclick="switchTab(event, 'codeGen')">Code Gen</a>
            </li>
        </ul>
    </div>
  </div>
  <div class="consoleArea"> 
    <div id="consoleContent">
    	<div id="lex">
    	</div>
    	<div id="parse">
    	</div>
    	<div id="ast">
    	</div>
        <div id="codeGen">
        </div>
    </div>
  </div>
</div>