<!-- views/partials/header.ejs -->

<div class="navbar sticky-top" role="navigation" id="myNavbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <div id="sidebarExpand" style="display:none" class="navbar-header">
                <li>
                    <a href="#" id="">
                        <i class="glyphicon glyphicon-menu-right"></i> 
                    </a>
                </li>
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#" id="consoleToggle" class="navbar-toggler">
                <i class="glyphicon glyphicon-console"></i>
                    Console
                </a>
            </li>
            <li>
                <a href="#" id="navCompile">
                <i class="glyphicon glyphicon-play"></i>
                    Compile
                </a>
            </li>
        </ul>
    </div>
</div>
