<!-- views/partials/header.ejs -->

<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon glyphicon-file"></i>
                File
            </button>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <button type="button" id="navCompile" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-play"></i>
                    Compile
                </button>
            </li>
            <li>
                <button type="button" id="navConsole" class="btn btn-info navbar-btn">
                <i class="glyphicon glyphicon-console"></i>
                    Console
                </button>
            </li>
        </ul>
    </div>
</div>
