
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
                theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('#sidebarExpand').toggle();
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');

            // change the padding on my console drawer to watch a full
            // screen look
            $('#consoleDrawer').animate({'padding-left':'29px'}, {
            	duration: 100
            });
        });

        $('#sidebarExpand').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('#sidebarExpand').toggle();
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');


            // change the padding on my console drawer to match
            // a windowed look
            $('#consoleDrawer').animate({'padding-left':'0px'}, {
            	duration: 100
            });
        });
    });

</script>
<!-- sidebar -->
<nav id="sidebar">
	<!-- sidebar header -->
	<div class="sidebar-header">
		<a href="#" id="sidebarCollapse"><i class="glyphicon glyphicon-menu-left"></i>Files</a>
	</div>

	<!-- sidebar links -->
	<ul class="list-unstyled components">
		<li class="active"> <!-- link with dropdown items -->
			<a href="#lexerPrograms" data-toggle="collapse" aria-expanded="false">Lexer Programs</a>
			<ul class="collapse list-unstyled" id="lexerPrograms">
				<li><a href="javascript:loadEditor(1)">Pretty Code</a></li>
				<li><a href="javascript:loadEditor(2)">Comments</a></li>
				<li><a href="javascript:loadEditor(3)">Strings</a></li>
				<li><a href="javascript:loadEditor(4)">Interesting</a></li>
				<li><a href="javascript:loadEditor(5)">Nightmare</a></li>
			</ul>
		</li>
		<li> <!-- link with dropdown items -->
			<a href="#parserPrograms" data-toggle="collapse" aria-expanded="false">Parser Programs</a>
			<ul class="collapse list-unstyled" id="parserPrograms">
				<li><a href="#">parser 1</a></li>
				<li><a href="#">parser 2</a></li>
				<li><a href="#">parser 3</a></li>
				<li><a href="#">parser 4</a></li>
				<li><a href="#">parser 5</a></li>
			</ul>
		</li>
		<li> <!-- link with dropdown items -->
			<a href="#astPrograms" data-toggle="collapse" aria-expanded="false">AST Programs</a>
			<ul class="collapse list-unstyled" id="astPrograms">
				<li><a href="#">ast 1</a></li>
				<li><a href="#">ast 2</a></li>
				<li><a href="#">ast 3</a></li>
				<li><a href="#">ast 4</a></li>
				<li><a href="#">ast 5</a></li>
			</ul>
		</li>
		<li> <!-- link with dropdown items -->
			<a href="#codegenPrograms" data-toggle="collapse" aria-expanded="false">Codegen Programs</a>
			<ul class="collapse list-unstyled" id="codegenPrograms">
				<li><a href="#">codegen 1</a></li>
				<li><a href="#">codegen 2</a></li>
				<li><a href="#">codegen 3</a></li>
				<li><a href="#">codegen 4</a></li>
				<li><a href="#">codegen 5</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>