<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="alert alert-danger">
        <h1 class="alert-heading">Opps!</h1>
        <strong>Error</strong>
        <%= "(" + error.status + ") " + error.message %>
        <strong><p class="mb-1"><a href="/">click here for safety</a></p></strong>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
