<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>	
<body class="container">
	<div class="wrapper">
		<nav>
    		<% include ../partials/sidebar %>
    	</nav>
    	<div class="bmd-layout-container bmd-drawer-f-b bmd-drawer-overlay">
    		<div id="content">
				<nav>
					<% include ../partials/header %>
				</nav>

				<textarea class="codemirror-textarea" id="codeEditor"></textarea>

				<% include ../partials/consoleDiv %>
			</div>
			<% include ../partials/footer %>
		</div>
		</div>
	</div>
</body>
</html>
